.user-action-add{
    cursor:pointer;
}

.user-action-edit {
  cursor: pointer;
}

.user-action-delete {
  cursor: pointer;
}

.user-action-info {
    cursor: pointer;
}

.user-action-search {
    cursor: pointer;
}

.search-list{
    white-space: nowrap;
    overflow: scroll;
}

.modal-search{
    width: 80%;
    min-width: 900px!important;;
}

.shown {
  background-color: #d9534f!important;
}

tr.odd:hover td{
    background-color: #ededed;
}

tr.even:hover td{
    background-color: #ededed;
}

.form-field-margin-bottom{
    margin-bottom: 15px;
}

.panel-media{
    min-width: 800px;
}

.panel-media-title{
    font-weight: bold;
}

.media-page-header {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 1.5px 4px rgba(180, 180, 180, 0.24);
    margin-top: 5px; margin-bottom: 5px;
    margin-left: -40px;
    margin-right: -40px;
    padding: 0 29px;
}

.media-breadcrumb {
    background-color: #fff;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 0px;
    padding: 8px 15px;
}

.media-btn{
    margin-right: 5px;
}

.media-alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px;
}

.media-separator{
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0 1.5px 4px rgba(180, 180, 180, 0.24);
    margin-top: 5px; margin-bottom: 20px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 0 29px;
}

.media-image img{
    background: white none repeat scroll 0 0;
    border: 1px solid #bbb;
    margin: 7px 14px 7px 0;
    padding: 5px;
    width: 160px;
}